<div class="container">
    <h1>Register</h1>
    <%- include('./partials/messages')%>
    <form action="/users/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="" placeholder="Enter Your Name"
                value="<%- typeof name != 'undefined' ? name : '' %> ">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Your Email"
                value="<%- typeof email != 'undefined' ? email : '' %> ">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Create Password"
                value="<%- typeof password != 'undefined' ? password : '' %> ">
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" placeholder="Just to Verify again"
                value="<%- typeof password2 != 'undefined' ? password2 : '' %> ">
        </div>

        <button type="submit" class="registerbtn">
            Register
        </button>
    </form>

    <div class="container signin">
        <p>
            Already have an Account? <a href="/users/login">Login Now!</a>
        </p>
    </div>

</div>